# Ans 1

read_csv(): This function is used to read a CSV file and create a DataFrame object.

head(): This function is used to display the first few rows of a DataFrame.

groupby(): This function is used to group rows of a DataFrame based on one or more columns.

fillna(): This function is used to replace missing values (NaN) in a DataFrame with a specified value.

plot(): This function is used to create plots from data in a DataFrame.

# Ans 2

In [1]:
import pandas as pd

def reindex_df(df):
    new_index = pd.RangeIndex(start=1, step=2, stop=len(df)*2)
    return df.reindex(new_index)

# Ans 3

In [2]:
import pandas as pd

def sum_first_three(df):
    values_sum = 0
    for i in range(3):
        values_sum += df['Values'][i]
    print("Sum of the first three values in 'Values' column: ", values_sum)

df = pd.DataFrame()
df['Values']= [10, 20, 30, 40, 50]
sum_first_three(df)

Sum of the first three values in 'Values' column:  60

# Ans 4

In [3]:
import pandas as pd
def createNewCol(df):
    df['Word_Count'] = []
    return df
df = pd.DataFrame()
df['Text'] = []
createNewCol(df)

Empty DataFrame
Columns: [Text, Word_Count]
Index: []

# Ans 5

DataFrame.size and DataFrame.shape are two different attributes of a pandas DataFrame object that provide different information about the DataFrame:

DataFrame.size: This attribute returns the total number of elements in the DataFrame, which is equal to the product of the number of rows and columns. For example, if a DataFrame has 5 rows and 3 columns, df.size will return 15.

DataFrame.shape: This attribute returns a tuple containing the number of rows and columns in the DataFrame, respectively. For example, if a DataFrame has 5 rows and 3 columns, df.shape will return (5, 3).

In summary, DataFrame.size returns the total number of elements in the DataFrame, while DataFrame.shape returns the number of rows and columns as a tuple. Both attributes can be useful in different contexts depending on the information you need about the DataFrame.

# Ans 6
read_excel()

# Ans 7

In [4]:
import pandas as pd

def extract_username(df):
    df['Username'] = df['Email'].str.split('@').str[0]
    return df

df = pd.DataFrame()
df['Email'] = ['username@domain.com', 'john.doe@example.com']
extract_username(df)

                  Email  Username
0   username@domain.com  username
1  john.doe@example.com  john.doe

# Ans 8

In [5]:
import pandas as pd

def select_rows(df):
    selected_rows = df[(df['A'] > 5) & (df['B'] < 10)]
    return selected_rows

def main():
    # create a sample DataFrame
    data = {'A': [3, 8, 6, 2, 9], 'B': [5, 2, 9, 3, 1], 'C': [1, 7, 4, 5, 2]}
    df = pd.DataFrame(data)

    # select rows where A > 5 and B < 10
    selected_df = select_rows(df)

    # print the selected rows
    print(selected_df)

if __name__ == '__main__':
    main()

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

# Ans 9

In [6]:
import pandas as pd

def calculate_stats(df):
    mean = df['Values'].mean()
    median = df['Values'].median()
    std = df['Values'].std()
    return mean, median, std
df = pd.DataFrame()
df['Values']= [10, 20, 30, 40, 50]
result=calculate_stats(df)
mean = result[0]
median = result[1]
std = result[2]
print("Mean:",str(mean)+ ", Median:",str(median)+ ", Standard deviation:",str(std))

Mean: 30.0, Median: 30.0, Standard deviation: 15.811388300841896

# Ans 10

In [7]:
import pandas as pd

def add_moving_average(df):
    # Create a rolling window of size 7 for the 'Sales' column
    rolling_sales = df['Sales'].rolling(window=7)

    # Calculate the moving average for each window
    moving_average = rolling_sales.mean()

    # Add the 'MovingAverage' column to the DataFrame
    df['MovingAverage'] = moving_average

    return df

# Ans 11

In [8]:
import pandas as pd

def add_weekday(df):
    df['Date'] = pd.to_datetime(df['Date'])
    df['Weekday'] = df['Date'].dt.day_name()
    return df

def main():
    df = pd.DataFrame({'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']})
    df = add_weekday(df)
    print(df)

if __name__ == '__main__':
    main()

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

# Ans 12

In [9]:
import pandas as pd

def select_january_dates(df):
    df['Date'] = pd.to_datetime(df['Date'])
    start_date = '2023-01-01'
    end_date = '2023-01-31'
    mask = (df['Date'] >= start_date) & (df['Date'] <= end_date)
    return df.loc[mask]

def main():
    df = pd.DataFrame({'Date': ['2022-12-31', '2023-01-01', '2023-01-15', '2023-01-31', '2023-02-15']})
    print("Original DataFrame:")
    print(df)
    df = select_january_dates(df)
    print("\nDataFrame with January dates only:")
    print(df)

if __name__ == '__main__':
    main()

Original DataFrame:
         Date
0  2022-12-31
1  2023-01-01
2  2023-01-15
3  2023-01-31
4  2023-02-15

DataFrame with January dates only:
        Date
1 2023-01-01
2 2023-01-15
3 2023-01-31

# Ans 13

In [ ]:
import pandas as pd